* {
    margin: 0;
    padding: 0;
}

.div-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(110, 108, 108);
    width: 450px;
    height: 450px;
}

.centralize {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.popup {
    font-size: 20px;
    padding: 2px 9px;
    margin-top: 60px;
}