* {
    margin: 0;
    padding: 0;
}

.div-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(110, 108, 108);
    width: 960px;
    height: 960px;
}
.centralize {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}